@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
/* font-family: 'Inter',
sans-serif;
font-family: 'Karla',
sans-serif; */


/* Змінні */
:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-karla: 'Karla', sans-serif;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 10px;

}


/* Скидання дефолтних налаштуваннь. */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 скидання ролей дисплея для старих браузерів */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    outline: none;
}

/* Загальні стилі */
a {
    text-decoration: none;
    font-style: normal;
}

body {
    font-family: var(--font-roboto);
    font-family: 'Inter', sans-serif;
    width: 100%;
    position: relative;
}

/* Прихований заголовок */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
